@import "tailwindcss";

@font-face {
  font-family: "offbit-dot";
  src: url("/fonts/OffBit-Dot.ttf") format("truetype");
}

@font-face {
  font-family: "great-vibers";
  src: url("/fonts/GreatVibes-Regular.ttf");
}

@font-face {
  font-family: "noto";
  src: url("/fonts/Echolette Breeze.ttf");
}
